/* CUSTOM PROPS */
:root {
  --body-bg: #effafa;
  --green: #5ca5a5;
  --light-green: rgba(92, 165, 165, 0.1);
  --blurry-green: #7c8f8f;
  --black: #2b3939;
  --text-color: #2b3939;
  --element-bg: #fff;
}
@font-face {
  font-family: "League Spartan";
  src: url("../fonts/LeagueSpartan-Bold.woff2") format("woff2"),
      url("../fonts/LeagueSpartan-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "League Spartan";
  src: url("../fonts/LeagueSpartan-Medium.woff2") format("woff2"),
      url("../fonts/LeagueSpartan-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* GLOBAL */
html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-family: "League Spartan", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--body-bg);
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* BADGE */
.badge {
  display: inline-block;
  padding: 6px 8px 4px;
  border-radius: 12px;
  font-size: 11px;
  line-height: 12px;
  letter-spacing: -0.08px;
  text-align: center;
  text-transform: uppercase;
}
.badge-green {
  color: #fff;
  background-color: var(--green);
}
.badge-black {
  color: #fff;
  background-color: var(--black);
}

/* TAG */
.tag {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: var(--green);
  background-color: var(--light-green);
}
/* CONTAINER */
.container {
  max-width: 1150px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* MAIN */
.main-content {
  flex-grow: 1;
  padding-top: 76px;
  padding-bottom: 120px;
}
/* SITE HEADER */
.site-header {
  min-height: 156px;
  background-color: var(--green);
  background-image: url(../img/header-bg.svg);
  background-size: auto 100%;
  background-position: center center;
}
.job-listings {
  padding: 0;
  margin: 0;
  list-style: none;
}
.job-listings-item {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 32px 40px 32px 35px;
  border-radius: 5px;
  border-left: 5px solid transparent;
  background-color: var(--element-bg);
  box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
}

.job-listings-item:not(:last-child) {
  margin-bottom: 24px;
}

.job-listings-item-featured{
  border-left-color: var(--green);
}

.job-listings-logo-info {
  display: flex;
}
.job-listings-logo {
  flex-shrink: 0;
  width: 88px;
  height: 88px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 24px;
}
.job-listings-info {
  flex-grow: 1;
  margin-right: 24px;
}
.job-listings-company-badges {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.job-listings-company-name {
  margin-right: 16px;
  font-size: 14px;
  line-height: 16px;
  color: var(--green);
}
.job-listings-badges {
  display: flex;
}
.job-listings-badges-item:not(:last-child) {
  margin-right: 8px;
}

.job-listings-position {
  margin-top: 0;
  margin-bottom: 8px;
}
.job-listings-position-link {
  font-size: 18px;
  line-height: 24px;
  color: var(--text-color);
  text-transform: capitalize;
}

.job-listings-position-link:hover {
  color: var(--green);
}

.job-lisitngs-additional {
  display: flex;
  align-items: center;
  font-weight: 500;
  letter-spacing: -0.08px;
  color: var(--blurry-green);
}
.job-listings-additional-item {
  position: relative;
  display: flex;
  font-weight: 500;
  font-size: 15px;
  color: var(--blurry-green);
}
.job-listings-additional-item:not(:last-child) {
  position: relative;
  margin-right: 36px;
}
.job-listings-additional-item:not(:last-child)::after  {
  position: absolute;
  content: "";
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  z-index: 2;
  margin-top: 0;
  margin-bottom: 20px;
  background-color: #b7c4c4;
}
.job-listings-tags {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}
.job-listings-tags-item:not(:last-child) {
  margin-right: 16px;
}
